# Example env vars for agents
CANISTER_ID=
ICP_NETWORK_URL=
STORAGE_AGENT_KEY_PATH=
ORCHESTRATOR_AGENT_SEED=orchestrator_agent_secret_seed
PRICE_AGENT_ADDRESS=
NEWS_AGENT_ADDRESS=
STORAGE_AGENT_ADDRESS=
